* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/assets/img/bg-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#bootstrap {
    color: #2f2f77;
}

#sass {
    color:#aa5eaa;
}